.task {
    box-shadow: 0 0 5px 1px #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;

    .header {
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
        align-items: center;
        border-bottom: 2px solid #ddd;
        background-size: 260%;
        transition: 1.5s ease;
        background-position: right top;
        background-image: rgb(68, 255, 128);
        background-image: linear-gradient(105deg, rgb(129, 252, 168) 41%, rgba(255, 255, 246, 1) 47%, rgba(255, 250, 215, 1) 52%);

        @media screen and (max-width:768px) {
            padding: 16px 20px;
        }

        &>div {
            display: flex;
            align-items: center;

            input {
                margin-right: 10px;
            }

            button {
                padding: 8px 20px;

                text-transform: capitalize;
                cursor: pointer;
                border: 0;
                color: #fff;
                border-radius: 6px;
                letter-spacing: .8px;
                transition: 0.3s;
                opacity: 0.8;

                &:active {
                    box-shadow: 0 0 1px 4px #ff006238;
                    opacity: 1;
                }

                &:hover {
                    opacity: 1;
                }

                &:first-child {
                    background-color: #0079FF;
                    margin-right: 12px;
                    font-weight: 500;

                    &:active {
                        box-shadow: 0 0 1px 4px #0077ff38;
                        opacity: 1;
                    }
                }

                background-color: #FF0060;
            }
        }
    }

    .showDetail {
        overflow: hidden;
        transition: 0.5s;
        box-sizing: border-box;
        // display: inline-block;
        width: 100%;

        .form_task {
            box-sizing: border-box;
            padding: 20px 60px;

            @media screen and (max-width:768px) {
                padding: 16px 30px;
            }

            * {
                border-radius: 4px;
            }

            input {
                padding: 10px;
                width: 100%;
                margin-bottom: 12px;
            }

            label {
                display: block;
                padding: 10px 0;
                font-weight: 600;
            }

            textarea {
                width: 100%;
                padding: 12px;
                border: 2px solid #000;
            }

            .row {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                .col {
                    width: 40%;

                    select {
                        border: 2px solid #000;

                        padding: 10px;
                        width: 100%;
                    }

                }
            }

            &>button {
                margin-top: 30px;
                padding: 14px;
                width: 100%;
                color: #fff;
                font-size: large;
                text-transform: uppercase;
                cursor: pointer;
                border: 0;
                background-color: #00DFA2;
                border-radius: 6px;
                letter-spacing: .8px;
                transition: 0.3s;
                opacity: 0.8;

                &:active {
                    box-shadow: 0 0 1px 4px #00dfa43f;
                    opacity: 1;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

}

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background-color: #bbefff4e;
    display: flex;
    align-items: center;
    justify-content: center;

    .custom_loader {
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 8px solid;
        border-color: #E4E4ED;
        border-right-color: #48595e87;
        animation: s2 1s infinite linear;
    }
}


@keyframes s2 {
    to {
        transform: rotate(1turn)
    }
}